body {
  background-color:#152229;
}
.navbar {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  display: flex;
  height: 60px;
  align-items: center;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a.active {
  background-color: #A27B5C;
  color: white;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.all {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.h1 {
  flex: 1;
  font-size: 30px;
  display: flex;
  padding-left: 80px;
  color:#A27B5C;
  
}
.logo {
  width: 280px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 50px;
  padding-top: 10px;
}
.logo-text {
  color: white;
  display: flex;
  height: 125px;
  justify-content: space-around;
}
.h2 {
  font-size: 40px;
  padding-top: 30px;

}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
 
}

.ico,
.ico-2,
.ico-3,
.ico-4,
.ico-5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icons,
.icons-2,
.icons-3,
.icons-4,
.icons-5 {
  position: relative;
  width: 600px;
  height: 350px;

  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.ci-icons,
.ci-icons-2,
.ci-icons-3,
.ci-icons-4,
.ci-icons-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.ci-icons:before,
.ci-icons-2:before,
.ci-icons-3:before,
.ci-icons-4:before,
.ci-icons-5:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b3dbdd;
  transition: 0.5s;
  clip-path: circle(160px at center);
}
.ci-icons:hover:before,
.ci-icons-2:hover:before,
.ci-icons-3:hover:before,
.ci-icons-4:hover:before,
.ci-icons-5:hover:before {
  clip-path: circle(400px at center);
  background-color:  #b3dbdd;
  border-radius: 20px;
}
.icons img,
.icons-2 img,
.icons-3 img,
.icons-4 img,
.icons-5 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  padding-bottom: 20px;
  pointer-events: none;
  transition: 0.5s;
}
.ci-icons:hover img,
.ci-icons-2:hover img,
.ci-icons-3:hover img,
.ci-icons-4:hover img,
.ci-icons-5:hover img {
  left: 80%;
  height: 220px;
}
.ico,
.ico-2,
.ico-3,
.ico-4,
.ico-5 {
  padding-top: 100px;
}
.content,
.content-2,
.content-3,
.content-4,
.content-5 {
  color:#83654d;
  font-weight: bold;
  position: relative;
  width: 50%;
  height: 100%;
  left: 0;
  padding: 20px 20px 20px 40px;
  transition: 0, 5s;
  opacity: 0;
  visibility: visible;
}

.ci-icons:hover .content,
.ci-icons-2:hover .content-2,
.ci-icons-3:hover .content-3,
.ci-icons-4:hover .content-4,
.ci-icons-5:hover .content-5 {
  left: 0;
  opacity: 1;
  visibility: visible;
  position: relative;
  transition: 0.8s;
}
.ci-icons .content a,
.ci-icons-2 .content-2 a,
.ci-icons-3 .content-3 a,
.ci-icons-4 .content-4 a,
.ci-icons-5 .content-5 a{
  position: relative;
  color: #e9e2ca;
  padding: 10px 20px;
  border-radius: 10px;
  background-color:#A27B5C;
 text-decoration: none;
 display: inline-block;
 margin-top: 100px;
 font-weight: 700;
}